@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* ========= [ * page-home-5 ]  =========*/
/* --------------- side_menu_style4 --------------- */
.side_menu_style4 {
  position: fixed;
  z-index: 9999;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  background-color: var(--color-brown1);
  padding: 0 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.side_menu_style4.show {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}
.side_menu_style4.show .side_shape {
  -webkit-transform: rotate(0) scale(1);
          transform: rotate(0) scale(1);
  opacity: 1;
}
.side_menu_style4.show .side_shape2 {
  -webkit-transform: rotate(180deg) scale(1);
          transform: rotate(180deg) scale(1);
  opacity: 1;
}
.side_menu_style4.show .main_links {
  text-align: center;
  -webkit-transform: scaleX(1) scaleY(1);
          transform: scaleX(1) scaleY(1);
  opacity: 1;
  -webkit-filter: blur(0);
          filter: blur(0);
}
.side_menu_style4 .side_shape {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 40%;
  -webkit-transform: rotate(-60deg) scale(0.5);
          transform: rotate(-60deg) scale(0.5);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.side_menu_style4 .side_shape2 {
  position: absolute;
  left: 0;
  top: 0;
  width: 40%;
  -webkit-transform: rotate(120deg) scale(0.5);
          transform: rotate(120deg) scale(0.5);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.side_menu_style4 .links_group {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
}
.side_menu_style4 .main_links {
  text-align: center;
  -webkit-transform: scaleX(1.4) scaleY(1.8);
          transform: scaleX(1.4) scaleY(1.8);
  -webkit-filter: blur(2px);
          filter: blur(2px);
  opacity: 0;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.side_menu_style4 .main_links .main_link {
  font-size: calc(3vw + 15px);
  font-weight: 400;
  margin: 10px 0;
  text-transform: uppercase;
  font-weight: 700;
}
.side_menu_style4 .main_links .main_link:hover {
  text-decoration: underline;
}
.side_menu_style4 .social_links a {
  font-size: 24px;
  -webkit-margin-end: 15px;
          margin-inline-end: 15px;
  border-bottom: 3px solid transparent;
}
.side_menu_style4 .social_links a:hover {
  border-color: #000;
}
.side_menu_style4 .clss {
  font-size: 30px;
  position: absolute;
  top: 30px;
  right: 60px;
  cursor: pointer;
}

.side_menu4_overlay {
  position: absolute;
  z-index: 90;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.side_menu4_overlay.show {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.side_menu4_overlay2 {
  position: absolute;
  z-index: 80;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}
.side_menu4_overlay2.show {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

/* --------------- navbar style5 --------------- */
.tc-navbar-style5 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 99;
  padding: 50px 0;
  background-color: rgba(41, 40, 40, 0.35);
  color: #fff;
}
.tc-navbar-style5 .cir-icon {
  width: 50px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--color-brown1);
  border-radius: 50px;
  font-size: 20px;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.tc-navbar-style5 .cir-icon:hover {
  background-color: var(--color-brown1);
  color: #fff;
}
.tc-navbar-style5 .side_menu_btn {
  width: 50px;
  height: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--color-brown1);
  background-color: var(--color-brown1);
  color: #000;
  border-radius: 50px;
  font-size: 20px;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
}
.tc-navbar-style5 .side_menu_btn:hover {
  background-color: #000;
  color: #fff;
}
.tc-navbar-style5 a:hover {
  color: var(--color-brown1);
}
.tc-navbar-style5 .logo img {
  height: 100px;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .tc-navbar-style5 {
    position: relative;
  }
}

/* --------------- header style5 --------------- */
.tc-header-style5 {
  position: relative;
  padding: 150px 0 430px;
  background-image: url(/images/header4.jpg);
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}
.tc-header-style5::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.3;
}
.tc-header-style5 .main-content {
  margin-left: 5rem;
}
.tc-header-style5 .main-content .title {
  border-bottom: 1px solid #999;
  padding: 20px 0;
}
.tc-header-style5 .main-content .title h1 {
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
  width: 50px;
  text-transform: uppercase;
}
.tc-header-style5 .btm-content {
  margin-top: 150px;
}
.tc-header-style5 .btm-content .circle-arrow {
  width: 120px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--color-brown1);
  font-size: 30px;
}
.tc-header-style5 .btm-content .float-imgs .video-card {
  position: relative;
  height: 200px;
  background-color: var(--color-brown1);
  display: block;
  color: #000;
}
.tc-header-style5 .btm-content .float-imgs .video-card p {
  position: absolute;
  left: 25px;
  bottom: 25px;
  z-index: 10;
  font-weight: 500;
}
.tc-header-style5 .btm-content .float-imgs .video-card .play-icon {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 10;
  font-size: 20px;
}
.tc-header-style5 .btm-content .float-imgs .img-card {
  position: relative;
  height: 200px;
  display: block;
}
.tc-header-style5 .btm-content .float-imgs .img-card p {
  position: absolute;
  left: 25px;
  bottom: 25px;
  z-index: 10;
  font-weight: 500;
}
.tc-header-style5 .btm-content .float-imgs .img-card .play-icon {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 10;
  font-size: 35px;
}

@media screen and (max-width: 991px) {
  .tc-header-style5 {
    padding: 100px 0 430px;
  }
  .tc-header-style5 .main-content .title h1 {
    font-size: 20vw;
  }
  .tc-header-style5 .btm-content {
    margin-top: 80px;
  }
  .tc-header-style5 .btm-content .circle-arrow {
    margin-bottom: 50px;
  }
}
/* --------------- about style5 --------------- */
.tc-about-style5 {
  position: relative;
  z-index: 10;
}
.tc-about-style5::after {
  position: absolute;
  content: "";
  left: 3vw;
  top: 0;
  height: 100%;
  width: calc(100% - 3vw);
  background-color: #1F2528;
}
.tc-about-style5 .content {
  position: relative;
  z-index: 10;
  padding-top: 200px;
  padding-bottom: 400px;
  margin-top: -350px;
}
.tc-about-style5 .content .about-title {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 500;
}
.tc-about-style5 .content .main-content .text {
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: #899fae;
}
.tc-about-style5 .content .main-content .img {
  height: 600px;
}
.tc-about-style5 .lg-txt {
  position: absolute;
  right: 0;
  bottom: 0;
  line-height: 0.75;
  padding-left: 100px;
  font-size: calc(13vw + 30px);
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #899fae;
  width: 35%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0.5;
  z-index: 1;
}
.tc-about-style5 .float_img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
  z-index: 1;
}

@media screen and (max-width: 991px) {
  .tc-about-style5 .content {
    padding: 100px 20px;
  }
  .tc-about-style5 .content .about-title {
    font-size: 35px;
  }
  .tc-about-style5 .content .main-content .img {
    height: 400px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .tc-about-style5 .mb-150 {
    margin-bottom: 40px !important;
  }
  .tc-about-style5 .mt-100 {
    margin-top: 40px !important;
  }
}

.custom-tooltip {
  padding-top: 20px;
}
.custom-tooltip .tooltip-arrow {
  top: 14px !important;
}
.custom-tooltip .tooltip-arrow::before {
  border-bottom-color: #373E43;
}
.custom-tooltip .tooltip-inner {
  background-color: #373E43;
  border-radius: 0;
  padding: 10px 15px;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

@media screen and (max-width: 991px) {
  .tc-apartments-style5 {
    padding: 100px 0;
  }
  .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button .room-numb {
    margin-bottom: 30px;
  }
  .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button .room-img {
    margin-bottom: 30px;
  }
  .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button .room-info {
    margin-bottom: 30px;
  }
  .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-button .feat-icons {
    margin-bottom: 30px;
  }
  .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body {
    padding: 30px;
  }
  .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img {
    padding: 30px;
  }
  .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .info {
    border: 0;
  }
  .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .info .btns {
    margin-top: 30px;
  }
  .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img .text-items p:nth-of-type(1) {
    top: -20px;
  }
  .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img .text-items p:nth-of-type(2) {
    right: -40px;
    -webkit-transform: translateY(-50%) rotate(-90deg);
            transform: translateY(-50%) rotate(-90deg);
  }
  .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img .text-items p:nth-of-type(3) {
    bottom: -20px;
  }
  .tc-apartments-style5 .apartments-accordion .accordion .accordion-item .accordion-body .main-img .text-items p:nth-of-type(4) {
    left: -70px;
  }
}
/* --------------- testimonial style5 --------------- */
.tc-testimonial-style5 {
  position: relative;
  padding-top: 200px;
  z-index: 10;
}
.tc-testimonial-style5::after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  width: 5vw;
  height: 100%;
  background-color: #1F2528;
  pointer-events: none;
}
.tc-testimonial-style5 .quote {
  position: absolute;
  right: 0;
  bottom: -15px;
  height: 150px;
}

/* --------------- services style5 --------------- */
.tc-services-style5 {
  position: relative;
  background-color: #1F2528;
}
.tc-services-style5 .content {
  position: relative;
  padding: 200px 0;
  border-bottom: 1px solid #373E43;
}
.tc-services-style5 .services {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.tc-services-style5 .services .service-card {
  display: block;
  position: relative;
  width: 20%;
  padding: 75px 30px 30px;
  border: 1px solid #373E43;
  margin: -0.5px;
}
.tc-services-style5 .services .service-card:hover .icon {
  border-color: var(--color-brown1);
}
.tc-services-style5 .services .service-card .num {
  position: absolute;
  top: 25px;
  right: 25px;
  font-size: 14px;
  color: #ccc;
}
.tc-services-style5 .services .service-card .icon {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #373E43;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  color: var(--color-brown1);
  margin: 0 auto 50px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.tc-services-style5 .services .service-card .info h6 {
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 500;
}
.tc-services-style5 .services .service-card .info p {
  color: #899fae;
}

@media screen and (max-width: 991px) {
  .tc-services-style5 .content {
    padding: 100px 0;
  }
  .tc-services-style5 .content .services .service-card {
    width: 50%;
    padding: 50px 15px 20px;
  }
  .tc-services-style5 .content .services .service-card .icon {
    height: 80px;
    width: 80px;
    font-size: 25px;
    margin-bottom: 30px;
  }
  .tc-services-style5 .content .services .service-card .info h6 {
    font-size: 16px;
  }
}
/* --------------- blog style5 --------------- */
.tc-blog-style5 {
  position: relative;
  padding: 200px 0;
  background-color: #1F2528;
}
.tc-blog-style5 .row .col-lg-6:first-of-type {
  -webkit-border-end: 1px solid #373E43;
          border-inline-end: 1px solid #373E43;
}
.tc-blog-style5 .main-post .img {
  display: block;
  height: 380px;
}
.tc-blog-style5 .main-post .info {
  position: relative;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tc-blog-style5 .main-post .info .date {
  -webkit-margin-end: 40px;
          margin-inline-end: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tc-blog-style5 .main-post .info .date .numb {
  font-size: 48px;
  line-height: 60px;
  color: #899fae;
  margin-bottom: 10px;
  font-weight: 400;
}
.tc-blog-style5 .main-post .info .date small {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #899fae;
}
.tc-blog-style5 .sub-posts {
  position: relative;
  height: 100%;
  padding-bottom: 100px;
}
.tc-blog-style5 .sub-posts .post-card {
  position: relative;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #373E43;
}
.tc-blog-style5 .sub-posts .post-card:first-of-type {
  padding-top: 0;
}
.tc-blog-style5 .sub-posts .post-card .date {
  -webkit-margin-end: 40px;
          margin-inline-end: 40px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.tc-blog-style5 .sub-posts .post-card .date .numb {
  font-size: 48px;
  line-height: 60px;
  color: #899fae;
  margin-bottom: 10px;
  font-weight: 400;
}
.tc-blog-style5 .sub-posts .post-card .date small {
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  color: #899fae;
}
.tc-blog-style5 .sub-posts .more-link {
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 14px;
  text-transform: uppercase;
  border-bottom: 1px solid #fff;
}
.tc-blog-style5 .sub-posts .more-link:hover {
  color: var(--color-brown1);
  border-color: var(--color-brown1);
}

@media screen and (max-width: 991px) {
  .tc-blog-style5 {
    padding: 100px 0;
    overflow: hidden;
  }
}
/* --------------- footer style5 --------------- */
.tc-footer-style5 {
  position: relative;
  padding: 120px 0 200px;
  background-color: #1F2528;
  color: var(--color-brown1);
  border-bottom: 15px solid #fff;
}
.tc-footer-style5 .title {
  border-bottom: 1px solid #999;
  padding: 20px 0;
}
.tc-footer-style5 .title h3 {
  font-size: 80px;
  font-weight: 400;
  text-transform: uppercase;
  white-space: nowrap;
}
.tc-footer-style5 .info {
  padding-top: 40px;
}
.tc-footer-style5 .info h4 {
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
}
.tc-footer-style5 .info p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #fff;
}
.tc-footer-style5 .foot {
  color: #fff;
  text-transform: uppercase;
}
.tc-footer-style5 .foot .download-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tc-footer-style5 .foot .download-link:hover .icon {
  background-color: slategrey;
  color: #fff;
}
.tc-footer-style5 .foot .download-link .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-margin-end: 20px;
          margin-inline-end: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 18px;
}
.tc-footer-style5 .social-icons a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  border: 1px solid #373737;
  margin: 5px;
}
.tc-footer-style5 .social-icons a:hover {
  background-color: #373737;
  color: #fff;
}

@media screen and (max-width: 1200px) {
  .tc-footer-style5 .title h3 {
    font-size: 5vw;
  }
  .tc-footer-style5 .info h4 {
    font-size: 30px;
  }
}
.home-style5 {
  background-color: #d2d0d0;
  color: #fff;
}
.home-style5 h1, .home-style5 h2, .home-style5 h3, .home-style5 .sub-font {
  font-family: "Instrument Serif", serif;
}

@media screen and (max-width: 991px) {
  .home-style5 br {
    display: none;
  }
  .home-style5 .fsz-50 {
    font-size: 30px !important;
  }
  .home-style5 .fsz-40 {
    font-size: 25px !important;
  }
  .home-style5 .mb-90 {
    margin-bottom: 40px !important;
  }
  .home-style5 .fsz-30 {
    font-size: 18px !important;
  }
  .home-style5 .fsz-70 {
    font-size: 35px !important;
  }
  .home-style5 .fsz-24 {
    font-size: 17px !important;
  }
  .home-style5 .mt-150 {
    margin-top: 80px !important;
  }
  .home-style5 .mb-120 {
    margin-bottom: 80px !important;
  }
}